* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
	font-family: "Tahoma", "Arial", sans-serif;
	background-color: #fff;
}
.s1 {
	color: #0095da;
	display: inline-flex;
}
.MESI {
	font-size: 80px;
	font-weight: lighter;
}
