* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
	border-top: 3px solid #8cc540;
	font-family:  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: #fff;
	width: 100%;
}
a {
	color: #0095da;
}
.s1 {
	color: #0095da;
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: middle;
	margin-left: 20px;
}
.MESI {
	font-size: 80px;
	font-weight: lighter;
	font-family: "Helvetica Neue";
}
.s2 {
	position: absolute;
	right: 0%;
	text-align: right;
	color: #aaaaaa;
}
.pos {
	text-decoration: underline;
	display: inline;
}
.s3 {
	margin-top: -3px;
	color: #0095da;
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: middle;
}
a.city {
	border-bottom: 1px;
	text-decoration: none;
	border-bottom-style: dashed;
}